# Docker Images Link

# Frontend Services Images
UI_IMAGE=

# Backend Services Images
ADOPTION_FORM_SERVICE_IMAGE=
API_GATEWAY_IMAGE=
AUTH_SERVICE_IMAGE=
CART_SERVICE_IMAGE=
CHAT_SERVICE_IMAGE=
CONFIGURATION_SERVICE_IMAGE=
MATCH_DASHBOARD_SERVICE_IMAGE=
PAYMENT_GATEWAY_SERVICE_IMAGE=
PET_FINDER_SERVICE_IMAGE=
PET_SERVICES_IMAGE=
PROFILE_SERVICE_IMAGE=
STORE_SERVICE_IMAGE=

#External Services Images
REDIS_IMAGE=
REDIS_COMMANDER_IMAGE=
MARIADB_IMAGE=

# Frontend Services Ports
UI_PORT=
UI_PORT_SSL=

# Backend Services Ports
ADOPTION_FORM_SERVICE_PORT=
API_GATEWAY_PORT=
AUTH_SERVICE_PORT=
CART_SERVICE_PORT=
CHAT_SERVICE_PORT=
CONFIGURATION_SERVICE_PORT=
MATCH_DASHBOARD_SERVICE_PORT=
PAYMENT_GATEWAY_SERVICE_PORT=
PET_FINDER_SERVICE_PORT=
PET_SERVICES_PORT=
PROFILE_SERVICE_PORT=
STORE_SERVICE_PORT=

#External Services Ports
REDIS_PORT=
REDIS_COMMANDER_PORT=
MARIADB_PORT=

# Docker Networks
NETWORK_NAME=pet-network

# Docker Volumes
MARIADB_VOLUME=
REDIS_VOLUME=

# Environment Variables

MYSQL_USER=admin
MYSQL_ROOT_PASSWORD=admin

#Compose File
COMPOSE_FILE=docker-compose.local.yml