# Docker Images Link

# Frontend Services Images
UI_IMAGE=

# Backend Services Images
API_GATEWAY_IMAGE=
CHAT_SERVICE_IMAGE=
FINDER_SERVICE_IMAGE=
PROFILE_SERVICE_IMAGE=

#External Services Images
REDIS_IMAGE=
REDIS_COMMANDER_IMAGE=
MONGO_IMAGE=
MONGO_EXPRESS_IMAGE=

# Frontend Services Ports
UI_PORT=
UI_PORT_SSL=

# Backend Services Ports
API_GATEWAY_PORT=
CHAT_SERVICE_PORT=
FINDER_SERVICE_PORT=
PROFILE_SERVICE_PORT=

#External Services Ports
REDIS_PORT=
REDIS_COMMANDER_PORT=
MONGO_PORT=
ME_PORT=

# Docker Networks
NETWORK_NAME=pet-network

# Docker Volumes
MONGO_VOLUME=
REDIS_VOLUME=

# Environment Variables
MONGO_USER=root
MONGO_ROOT_PASSWORD=example
ME_USER=root
ME_ROOT_PASSWORD=example
ME_URL=mongodb://root:example@mongo:27017/

# Compose File
COMPOSE_FILE=docker-compose.local.yml